name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  # see: https://github.com/dtolnay/cargo-docs-rs
  doc:
    name: Documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
      - uses: dtolnay/install@cargo-docs-rs
      - run: cargo docs-rs
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --features tokio
      - name: clippy
        run: cargo clippy --all-targets --features samod/tokio,samod/threadpool,samod/axum,samod/tungstenite -- -D warnings
      - name: Run tests
        run: cargo test --features samod/tokio,samod/threadpool,samod/axum,samod/tungstenite --verbose
      - name: Run tests without features
        run: cargo test --verbose --tests
